body{
   background-color:hsl(30, 54%, 90%);
}

h2{
    color: hsl(14, 45%, 36%);
}

h3{
    color: hsl(332, 51%, 32%);
}

.kahv{
    color:hsl(14, 45%, 36%) ;
}

.ana > img{
    margin: auto; 
    display: block;
    width: 630px;
    height: 300px;
    border-radius: 15px !important;
}

.ana{
    overflow: hidden;
    margin: auto;
    width: 650px;
    height: 1550px;
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12pt;
    border-radius: 20px;
    padding-top: 25px;
}

.ara{
    background-color: hsl(330, 100%, 98%);
    margin: auto;
    width: 630px;
    height: 150px;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}

.ara li::marker{
    color: hsl(332, 51%, 32%)
;}

.ana li::marker{
    color:hsl(14, 45%, 36%);
    font-size: 1.2em;
    font-weight: bold;
}

.nut{
    width: 100%;
    border-collapse: collapse;
}

.nut tr{
    border-bottom: 1px solid #e0e0e0;
}

.nut td{
    padding: 15px 0;
}