html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
   background-color: hsl(30, 54%, 90%);
}

h2 {
    color: hsl(14, 45%, 36%);
}

h3 {
    color: hsl(332, 51%, 32%);
}

.kahv {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.ana > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 30px;
}

.ana {
    overflow: hidden;
    margin: auto;
    width: 650px;
    height: auto;
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 13pt;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.ara {
    background-color: hsl(330, 100%, 98%);
    margin: auto;
    width: 630px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.ara li::marker {
    color: hsl(332, 51%, 32%);
}

.ana li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 1.2em;
    font-weight: bold;
}

.nut {
    width: 100%;
    border-collapse: collapse;
}

.nut tr {
    border-bottom: 1px solid #e0e0e0;
}

.nut tr:last-child {
    border-bottom: none;
}

.nut td {
    padding: 15px 0;
}

@media (max-width: 650px) {
  .ana {
    width: 100% !important;
    padding: 20px !important;
    border-radius: 0 !important;
  }

  .ana > img {
    border-radius: 10px !important;
  }

  .ara {
    width: 100% !important;
  }
}